<script src="https://giscus.app/client.js"
        data-repo="uchouT/uchouT.github.io"
        data-repo-id="R_kgDOOPwy_A"
        data-category="General"
        data-category-id="DIC_kwDOOPwy_M4C0UcA"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://uchout.moe/giscus-light.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>